<app-pagina [isLoading]="isLoading">
  <app-titulo texto="Cadastrar Usuário"></app-titulo>
  <app-botao-cancelar [rota]="['/cadastro/usuarios']"></app-botao-cancelar>

  <form [formGroup]="form" (ngSubmit)="salvar()" autocomplete="nope">
    <div class="col-6 mb-3">
      <label for="inputNome" class="form-label">Nome:</label>
      <input type="text" id="inputNome" class="form-control" formControlName="nome"
          #input>
      <small *ngIf="form.get('nome').hasError('required')" class="text-danger">
        campo obrigatório
      </small>
    </div>
    <div class="col-6 mb-3">
      <label for="inputEmail" class="form-label">Email:</label>
      <input type="email" id="inputEmail" class="form-control" formControlName="email">
      <small *ngIf="form.get('email').hasError('required')" class="text-danger">
        campo obrigatório
      </small>
      <small *ngIf="form.get('email').hasError('email')" class="text-danger">
        email inválido!
      </small>
      <small *ngIf="form.get('email').hasError('loginExiste')" class="text-danger">
        email já cadastrado!
      </small>
    </div>
    <div class="row col-12">
      <div class="col-4 mb-3">
        <label for="inputPassword" class="form-label">Senha:</label>
        <input type="password" id="inputPassword" class="form-control"
            formControlName="password">
        <small *ngIf="form.get('password').hasError('required')" class="text-danger">
          campo obrigatório
        </small>
        <small *ngIf="form.get('password').hasError('minlength')" class="text-danger">
          muito curta!
        </small>
        <small *ngIf="form.get('password').hasError('maxlength')" class="text-danger">
          muito longa!
        </small>
      </div>
      <div class="col-4 mb-3">
        <label for="inputConfirma" class="form-label">Confirma:</label>
        <input type="password" id="inputConfirma" class="form-control"
            formControlName="confirma">
        <small *ngIf="form.get('confirma').hasError('required')" class="text-danger">
          campo obrigatório
        </small>
        <small *ngIf="form.get('confirma').hasError('mustMatch')" class="text-danger">
          não confere!
        </small>
      </div>
    </div>
    <div class="col-4 mb-3">
      <label for="selectPerfil" class="form-label">Perfil:</label>
      <select id="selectPerfil" class="form-select" formControlName="perfil"
          (blur)="imprimeFormulario()">
        <option [ngValue]="null" disabled>...</option>
        <option *ngFor="let perfil of perfis" [value]="perfil.role">
          {{ perfil.descricao }}
        </option>
      </select>
    </div>
    <div class="d-grid gap-1">
      <button type="submit" class="btn btn-success btn-lg"
          [disabled]="form.invalid">
        salvar
      </button>
    </div>
  </form>
</app-pagina>
