/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-bottom: 60px;
  background-image: url('src/assets/img/fundo.jpg');
}

h1, h2, h3, h4, h5, h6, label, th, td, small, button, a, .form-control, .nav-link, a.page-link {
  font-family: 'Roboto Mono', monospace;
}

.btn-inside {
  margin-top: 2.0em;
  height: 38px !important;
  width: 40px !important;
}

.btn-sm {
  width: 50px;
}

.btn-control {
  width: 60px;
}

.btn-cabecalho {
  width: 60px;
}

.container {
  padding-bottom: 60px;
}

.card-consumidor {
  background-image: linear-gradient(rgb(182, 182, 253), white);
}

.card-fornecedor {
  background-image: linear-gradient(rgb(182, 253, 182), white);
}

.card-representante {
  background-image: linear-gradient(rgb(180, 180, 180), white);
}

.card-movimento {
  background-image: linear-gradient(rgb(252, 180, 180), white);
}

.uppercase {
  text-transform: uppercase;
}
