<app-pagina [isLoading]="isLoading">
  <app-titulo texto="Cadastro de Fiscalização"></app-titulo>
  <app-botao-cancelar [rota]="['/fiscalizacao/visita']"></app-botao-cancelar>

  <form [formGroup]="form" (submit)="salvar()">
    <div class="col-3 mb-3">
      <label for="inputData" class="form-label">Data:</label>
      <input type="datetime-local" id="inputData" class="form-control" #input autofocus
          formControlName="data" style="text-align: center;">
      <small *ngIf="form.get('data').hasError('required')" class="text-danger">
        obrigatório!
      </small>
    </div>
    <div class="row col-12 card mb-3">
      <div class="card-header">
        <div class="card-title">Fornecedor:</div>
        <div class="col-12" *ngIf="fiscalizacao.fornecedor?.id; else mensagem;">
          <h4 class="text-primary strong">
            {{ fiscalizacao.fornecedor.razaoSocial }}
          </h4>
        </div>
        <ng-template #mensagem>
          <h5 class="text-danger strong">*campo obrigatório!</h5>
        </ng-template>
      </div>
      <div class="card-body">
        <form [formGroup]="searchForm">
          <div class="col-6">
            <label for="inputSearch" class="form-label">selecione...</label>
            <input type="text" id="inputSearch" class="form-control"
                formControlName="input">
          </div>
        </form>
        <table class="table table-striped table-hover table-sm">
          <tbody>
            <tr *ngFor="let forn of fornecedores?.content">
              <td class="align-middle">{{ forn.razaoSocial }}</td>
              <td class="text-center align-middle">
                {{ forn.cnpj | mask: '00.000.000/0000-00' }}
              </td>
              <td class="text-center align-middle" style="width: 60px;">
                <button class="btn btn-sm btn-success" type="button"
                    (click)="onSelectForn(forn.id)">
                  <fa-icon [icon]="iCheck"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-6 mb-3">
      <label for="inputSetor" class="form-label">Setor:</label>
      <select id="inputSetor" class="form-select" formControlName="setor"
          (change)="onSelectSetor()">
        <option [ngValue]="null" disable>selecione...</option>
        <option *ngFor="let setor of setores" [value]="setor.id">
          {{ setor.descricao }}
        </option>
      </select>
      <small *ngIf="form.get('setor').hasError('required')" class="text-danger">
        obrigatório!
      </small>
    </div>
    <div class="col-6 mb-3" *ngFor="let item of fiscalizacao.itens; index as i;">
      <label [for]="'input' + i" class="form-label">
        {{ item.item }}
      </label>
      <input type="text" [id]="['input' + i]" class="form-control"
          [formControlName]="'input' + i">
    </div>
    <div class="card mb-4 border-dark">
      <div class="card-header bg-dark">
        <div class="card-title text-white">Observações:</div>
      </div>
      <div class="card-body">
        <div class="col-12">
          <textarea id="inputObs" cols="30" rows="15" class="form-control"
              formControlName="observacoes">
          </textarea>
        </div>
      </div>
    </div>
    <div class="d-grid gap-1">
      <button type="submit" class="btn btn-success btn-lg"
          [disabled]="form.invalid">
        salvar
      </button>
    </div>
  </form>
</app-pagina>
<app-modal #modal></app-modal>
