<app-pagina [isLoading]="isLoading" *ngIf="!editandoCons && !editandoForn">
  <app-titulo texto="Novo Atendimento"></app-titulo>
  <app-botao-cancelar [rota]="['/cadastro/atendimentos']"></app-botao-cancelar>

  <form [formGroup]="form" (ngSubmit)="salvar()">
    <div class="col-2 mb-3">
      <label for="inputData" class="form-label">Data:</label>
      <input type="date" id="inputData" class="form-control" formControlName="data"
          #input autofocus style="text-align: center;">
      <small *ngIf="form.get('data').hasError('required')" class="text-danger">
        campo obrigatório!
      </small>
    </div>

    <!--Consumidores-->
    <div #scrollConsumidor></div>
    <div class="card mb-4 border-primary">
      <div class="card-header bg-primary">
        <div class="card-title text-white">Consumidor(es)</div>
      </div>
      <div class="card-body card-consumidor">
        <app-selec-cons *ngIf="selecionandoConsumidor; else consumidores"
            (selecao)="consumidorSelecionado($event)"
            (novo)="novoConsumidor($event)">
        </app-selec-cons>
        <ng-template #consumidores>
          <div class="text-center mb-3">
            <button class="btn btn-success"
                (click)="selecionandoConsumidor = !selecionandoConsumidor">
              adicionar consumidor
            </button>
          </div>
          <table class="table table-sm table-striped table-bordered table-primary">
            <caption *ngIf="atendimento.consumidores.length == 0" class="text-danger">
              nenhum consumidor selecionado...
            </caption>
            <thead class="bg-primary">
              <th class="text-center text-white">Denominação</th>
              <th class="text-center text-white">CPF/CNPJ</th>
              <th class="text-center text-white" style="width: 60px;">rem</th>
            </thead>
            <tbody>
              <tr *ngFor="let cons of atendimento.consumidores; index as i;">
                <td class="align-middle">{{ cons.denominacao }}</td>
                <td class="text-center align-middle">
                  {{ cons.cadastro | mask: mascaraCadastro(cons.tipo) }}
                </td>
                <td class="text-center align-middle">
                  <button class="btn btn-sm btn-danger" type="button" title="remover"
                      (click)="removerConsumidor(i)">
                    <fa-icon [icon]="iMinus"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>

    <!--Fornecedores-->
    <div #scrollFornecedor></div>
    <div class="card mb-4 border-success">
      <div class="card-header bg-success">
        <div class="card-title text-white">Fornecedor(es)</div>
      </div>
      <div class="card-body card-fornecedor">
        <app-selec-forn *ngIf="selecionandoFornecedor; else fornecedores;"
            (selecao)="fornecedorSelecionado($event)"
            (novo)="novoFornecedor($event)">
        </app-selec-forn>
        <ng-template #fornecedores>
          <div class="text-center mb-3">
            <button class="btn btn-success"
                (click)="selecionandoFornecedor = !selecionandoFornecedor">
              adicionar fornecedor
            </button>
          </div>
          <table class="table table-sm table-striped table-bordered table-success">
            <caption *ngIf="atendimento.fornecedores.length == 0" class="text-danger">
              nenhum fornecedor selecionado...
            </caption>
            <thead class="bg-success">
              <th class="text-center text-white">Razão</th>
              <th class="text-center text-white">CNPJ</th>
              <th class="text-center text-white" style="width: 60px;">rem</th>
            </thead>
            <tbody>
              <tr *ngFor="let forn of atendimento.fornecedores; index as i;">
                <td class="align-middle">{{ forn.razaoSocial }}</td>
                <td class="text-center align-middle">
                  {{ forn.cnpj | mask: '00.000.000/0000-00' }}
                </td>
                <td class="text-center align-middle">
                  <button class="btn btn-sm btn-danger" type="button" title="remover"
                      (click)="removerFornecedor(i)">
                    <fa-icon [icon]="iMinus"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>

    <!--Editor-->
    <div class="card mb-4 border-dark">
      <div class="card-header bg-dark">
        <div class="card-title text-white">Relato</div>
      </div>
      <div class="card-body">
        <div class="col-12">
          <textarea id="inputRelato" cols="30" rows="15" class="form-control"
              formControlName="relato">
          </textarea>
        </div>
      </div>
    </div>

    <!--Botão salvar-->
    <div class="d-grid gap-1">
      <button type="submit" class="btn btn-success btn-lg"
          [disabled]="form.invalid || atendimento.consumidores.length == 0 || atendimento.fornecedores.length == 0">
        salvar
      </button>
    </div>
  </form>
</app-pagina>
<app-modal #modal></app-modal>
<app-cad-consumidor [idExterno]="idConsumidor" *ngIf="editandoCons"
    (salvo)="consumidorSalvo($event)">
</app-cad-consumidor>
<app-cad-fornecedores [idExterno]="idFornecedor" *ngIf="editandoForn"
    (salvo)="fornecedorSalvo($event)">
</app-cad-fornecedores>
