<app-pagina [isLoading]="isLoading">
  <app-titulo texto="Fornecedores"></app-titulo>
  <app-controle [rota]="['novo']" mensagem="cadastrar novo fornecedor">
  </app-controle>
  <div class="col-4">
    <app-search-input [form]="searchForm" label="Razão / CNPJ">
    </app-search-input>
  </div>
  <app-tabela [tamanhoTotal]="page?.totalElements" [tamanhoPagina]="page.size"
      [pagina]="pagina" (mudaPagina)="mudaPagina($event)">
    <caption *ngIf="page.totalElements == 0">
      nenhum fornecedor cadastrado...
    </caption>
    <caption *ngIf="page.totalElements > 0">
      fornecedores cadastrados: {{ page?.totalElements }}
    </caption>
    <thead>
      <th class="text-center">Fantasia</th>
      <th class="text-center">CNPJ</th>
      <th class="text-center" style="width: 60px;">edt</th>
      <th class="text-center" style="width: 60px;">exc</th>
    </thead>
    <tbody>
      <tr *ngFor="let forn of page.content">
        <td class="align-middle">{{ forn.fantasia }}</td>
        <td class="text-center align-middle">
          {{ forn.cnpj | mask: '00.000.000/0000-00' }}
        </td>
        <td class="text-center align-middle">
          <app-botao-editar [rota]="['novo', forn.id]" mensagem="editar fornecedor">
          </app-botao-editar>
        </td>
        <td class="text-center align-middle">
          <app-botao-excluir [id]="forn.id" (emissao)="chamaModal($event)">
          </app-botao-excluir>
        </td>
      </tr>
    </tbody>
  </app-tabela>
</app-pagina>
<app-modal #modal (sim)="concordaModal($event)"></app-modal>
